<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
</head>
<body>
<h1>GU offline</h1>
<br/>
<div class="row container-fluid">
    <div class="col-lg-3">
        <p>垂直的胶囊式导航菜单1</p>
        <ul class="nav nav-pills nav-stacked" style="max-width: 250px">
            <li class="active"><a href="admin1">Task Configuration</a></li>
            <li><a href="admin2">OMMB Server Configuration</a></li>
        </ul>
    </div>
    <div class="col-lg-9">
        <div>
            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#addModal">
                <span class="glyphicon glyphicon-plus">增加</span>
            </button>
            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#deleteModal">
                <span class="glyphicon glyphicon-trash">删除</span>
            </button>
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-edit">编辑</span>
            </button>
        </div>
        <div>
            <table class="table table-bordered table-hover table-condensed" style="table-layout: fixed">
                <thead>
                <tr class="success">
                    <th data-checkbox="true">ID</th>
                    <th>User Name</th>
                    <th>Sex</th>
                    <th>nick Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userSex}"></td>
                    <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis" th:text="${user.nickName}"></td>
                </tr>
                <tr>
                    <td>aaaaaaaaaaaaa</td>
                    <td>aaaaaaaaaaaaa</td>
                    <td>aaaaaaaaaaaaa</td>
                    <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis">
                        aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    模态框（Modal）标题
                </h4>
            </div>
            <form class="form-horizontal" role="form" action="/add" method="post">
                <div class="form-group">
                    <label for="userName" class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userName" name="userName"
                               placeholder="userName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="passWord" class="col-sm-2 control-label">passWord</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="passWord" name="passWord"
                               placeholder="userName"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="userSex" class="col-sm-2 control-label">userSex</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="userSex" name="userSex"
                               placeholder="userSex"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="nickName" class="col-sm-2 control-label">nickName</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nickName" name="nickName"
                               placeholder="userSex"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">登录</button>
                    </div>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

</body>
</html>